.container {
    width: 90%;
    margin: auto;
}

.container-table {
    max-height: 23rem; 
    overflow-y: auto;
}

table {
    width: 100%;
}

mat-form-field {
    width: 100%;
}

.button {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}