.container {
    width: 95%;
    margin: auto;
    margin-bottom: 5rem;
}

mat-card {
    margin: auto;
    width: 40rem;
    border-radius: 1rem;
    padding: 1.5rem;
}

.data {
    width: 80%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
}

.dado-user p {
    line-height: 2;
}

.dado-user {
    min-width: 10rem;
}

.status {
    margin: auto;
}

.dados {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.fluxo {
    width: 95%;
    border-radius: 20px;
    padding: 2.5%;
    margin-bottom: 2rem;
}

.fluxo h2 {
    width: 100%;
    text-align: center;
}

button {
    background-color: rgb(0, 10, 207);
    color: white;
    width: 100%;
}

.centralize {
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.observacoes {
    margin-top: 1rem;
    width: 95%;
    padding: 2.5%;
    background-color: aliceblue;
    min-height: 8rem;
    border-radius: 1rem;
}