<div class="container mat-elevation-z8">
    <h1 class="funllWidth centralize">Atualizar Cliente</h1>
    <form [formGroup]="form" class="form">
        <mat-form-field class="funllWidth">
            <mat-label>Nome</mat-label>
            <input [(ngModel)]="cliente.nome" formControlName="nome" value="{{cliente.nome}}" matInput placeholder="José Silva">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <mat-form-field class="funllWidth">
            <mat-label>CPF</mat-label>
            <input [(ngModel)]="cliente.cpf" formControlName="cpf" value="{{cliente.cpf}}" matInput placeholder="000.000.000-00"
                mask="000.000.000-00">
            <mat-icon class="half-opaque" matSuffix>pin</mat-icon>
        </mat-form-field>

        <mat-form-field class="funllWidth">
            <mat-label>E-mail</mat-label>
            <input [(ngModel)]="cliente.email" formControlName="email" value="{{cliente.email}}" matInput placeholder="jose@mail.com">
            <mat-icon class="half-opaque" matSuffix>email</mat-icon>
        </mat-form-field>

        <mat-form-field class="funllWidth">
            <mat-label>Senha</mat-label>
            <input [(ngModel)]="cliente.senha" type="password" formControlName="senha" value="{{cliente.senha}}" matInput placeholder="123">
            <mat-icon class="half-opaque" matSuffix>key</mat-icon>
        </mat-form-field>

        <div class="funllWidth centralize check">
            <div>
                <label for="admin-checkbox">Admin</label>
                <mat-checkbox color="primary" (click)="addPerfil(0)" formControlName="admin"></mat-checkbox>
            </div>
        </div>

        <button (click)="update()" class="mat-elevation-z4" [disabled]="!validarCampos()" mat-raised-button color="primary">Atualizar</button>
        <button routerLink="/cliente" class="mat-elevation-z4" mat-raised-button color="warn">Cancelar</button>
    </form>
</div>